:root {
    --ff-primary: 'Nunito', Helvetica, Arial, sans-serif;

    --clr-green-dark: #049a40;
    --clr-green-light: #0bf96a;
    --clr-pink-dark: #e10bf9;
    --clr-pink-light: #f3a0fd;
    --clr-white: #f5f5f5;
}