.l-footer {
    padding: 1.25rem 0;
    background-color: var(--clr-pink-light);
}

.l-footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.875rem;
    
    padding: 0.625rem;
    margin: 0 auto;
    max-width: 75rem;
}

@media (max-width: 40.625rem) {
    .l-footer__content {
        justify-content: space-evenly;
    }
}