.l-we-are {
    padding: 1.875rem 0.625rem;
    margin: 0 auto;
    max-width: 75rem;
}

.l-we-are__content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.l-we-are__text {
    flex: 2 1 18.75rem;  
}

.l-we-are__img {
    flex: 1 1 21.875rem;
}

.l-we-are__img img {
    margin: 0 auto;
}